.header-container {
  background-color: teal;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
}

.nav-link:hover {
  background-color: #555;
}

.nav-link.active {
  background-color: #777;
}